@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif !important;
}

/* Add application styles & imports to this file! */

// =========================
// Global
// =========================
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #2c2e83;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url('./assets/AssetsSite/Background.png');
  background-size:cover;
}

.container {
  margin: 0 auto; /* Centre la div horizontalement */
  max-width: 800px; /* Définit une largeur maximale pour la div */
}

.main-div {
  margin-left: 20px; /* Marge de 20 pixels à gauche */
  margin-right: 20px; /* Marge de 20 pixels à droite */
}

.search{
  background-image: linear-gradient(to bottom right, #9c91b0,#473064,#473064, #9c91b0);
  height: 100px;
  border-radius: 10px;
  opacity: 70%;
}

.submit-btn{
  background-image: linear-gradient(to bottom right, #a5a286,#8a8660, #a5a286);
  height: 50px;
  width: 200px;
  border-radius: 10px;
  opacity: 100%;
  font-size:150%;
  color: #cccab4;
}

.nameInput{
  height: 40px;
  width: 80%;
  background-image: linear-gradient(to bottom right, #d1c9d9,#8e70a8,#8e70a8, #d1c9d9);
  border-radius: 10px;
  border-style:hidden;
}

.container2 {
  display: flex;
  justify-content: center;
}

.renseignetonnom{
  margin-left: 50px;
  opacity: 50%;
  color:#d1c9d9;
}

.container3 {
  display: block;
  height: 100vh;
  width: 100vw;
  max-height: 600px;
  max-width: 750px;
  padding: 2em 2em 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.animition-type-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  color: white;
  padding-top: 1em;
}

.title {
  //background: rgba(0,0,0,0.5);
  user-select: none;
}
.button {
  background: #3f51b5;
  cursor: pointer;
  border-radius: 0.3em;
}
.title,
.button {
  height: 2.5em;
  min-width: 4.5em;

  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 0.7em;
  transition: background 20ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:not(:last-child) {
    margin-right: 1em;
  }
}
.button:hover,
.active {
  background: #2196f3;
}
